@font-face {
	font-family: 'Titan One';
	src: url('../assets/font/TitanOne-Regular.ttf');
}

@font-face {
	font-family: 'Bubblegum Sans';
	src: url('../assets/font/BubblegumSans-Regular.ttf');
}

@font-face {
	font-family: 'Varela Round';
	src: url('../assets/font/VarelaRound-Regular.ttf');
}
